<div class="fixed max-w-screen-xl">

    <nav class="bg-white  fixed w-full z-20 top-0 start-0  h-16">

      <div class="flex items-center justify-between w-full px-1">

        <img src="../../../assets/logo.png" class="h-14 " alt="farmfinder Logo" />

        <!-- Menu de navigation -->
  <div class="flex items-center space-x-6 text-gray-800">
    <a routerLink="/Accueil" routerLinkActive="text-green-600" class="flex items-center space-x-1 font-bold relative group  hover:cursor-pointer">
      <span>Accueil</span>
      <span class="absolute  bottom-[-6px] w-0 h-0.5 bg-yellow-500 transition-all duration-800 group-hover:w-[120%] group-hover:h-1 cursor-pointer left-[-10%]" ></span>
    </a>
    <a routerLink="/Assistant IA" routerLinkActive="text-green-600" class="flex items-center space-x-1 font-bold relative group">
      <span>Assistant IA</span>
      <span class="absolute left-[-10%] bottom-[-6px] w-0 h-0.5 bg-yellow-500 transition-all duration-800 group-hover:w-[120%] group-hover:h-1"></span>
    </a>
    <a routerLink="/Événements" routerLinkActive="text-green-600" class="flex items-center space-x-1 font-bold  hover:text-yellow-500 cursor-pointer">
      <span>Événements</span>
    </a>
    <a routerLink="/Discussions" routerLinkActive="text-green-600" class="flex items-center space-x-1 font-bold  hover:text-yellow-500 cursor-pointer">
      <span>Discussions</span>
    </a>
  </div>
    <!-- Notifications et langue -->
    <div class="flex items-center space-x-4 pr-4">
      
      <div class="flex items-center">
        <img src="../../../assets/notif.png" class="h-8 z-30" alt="Notifications" />
        <p class="w-4 h-4 bg-red-600 text-white rounded-full flex items-center justify-center text-xs mb-5">
          0
        </p>
      </div>
      <!-- Langue -->
      <button class="text-yellow-400 font-bold text-2xl">FR</button>
    </div>
    
      </div>
    </nav>
  </div>
