  <app-navbar></app-navbar>
  <!-- Header Section -->
  <header class="relative bg-cover bg-center h-96" style="background-image: url('../../../../assets/home_page.jpg');">
    <div class="flex flex-col items-center justify-center h-full text-white">
      <h1 class="text-8xl font-bold text-green-900">FarmFinder</h1>
      <p class="mt-4 bg-yellow-600 px-6 py-2 rounded-lg"> Des offres agricoles en un clic</p>
    </div>
  </header>
  <img src="../../assets/home_page.jpg" alt="photo">
  
  <!-- Objectives Section -->
  <section class="py-16 bg-green-100 text-center">
    <h2 class="text-3xl font-semibold text-green-900 mb-8">Nos Objectifs</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 px-4">
      <div class="space-y-2">
        <img src="../../assets/home_page.jpg" alt="Goal 1" >
        <p class="text-green-900 font-semibold">Limitations des distances</p>
      </div>
      <div class="space-y-2">
        <img src="assets/goal2.jpg" alt="Goal 2" class="w-full h-48 object-cover rounded-lg">
        <p class="text-green-900 font-semibold">Simplification les interactions</p>
      </div>
      <div class="space-y-2">
        <img src="assets/goal3.jpg" alt="Goal 3" class="w-full h-48 object-cover rounded-lg">
        <p class="text-green-900 font-semibold">Satisfaction clients</p>
      </div>
      <div class="space-y-2">
        <img src="assets/goal4.jpg" alt="Goal 4" class="w-full h-48 object-cover rounded-lg">
        <p class="text-green-900 font-semibold">Assistance durable</p>
      </div>
    </div>
  </section>
  
 
  <!-- Footer -->
  <footer class="bg-green-900 text-white py-6">
    <div class="flex flex-col md:flex-row justify-around items-center">
      <p>© 2024 Copyright</p>
      <div class="space-x-4">
        <span>Adresse: Rue xxx, Bizerte</span>
        <span>Email: contact&#64;farmfinder.com</span>
        <span>Téléphone: +216 12 345 678</span>
      </div>
    </div>
  </footer>
  <router-outlet></router-outlet>

  