<app-navbar></app-navbar>

<body class="mt-0">
  <div class="flex min-h-screen">
    <!-- Left side: Form container -->
    <div class="w-full sm:w-2/4 bg-green-100 flex flex-col justify-center items-center py-8 pt-10">
      <h2 class="text-4xl font-bold mb-14 text-green-900 -mt-8">Sign Up</h2>
      <div class="max-w-7xl mx-auto font-[sans-serif] pl-10 pr-10 pb-10">
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="grid sm:grid-cols-2 gap-y-7 gap-x-12">
            <div>
              <input name="name" [(ngModel)]="user.name" type="text" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="Enter first name" required />
            </div>
            <div>
              <input name="lastName" [(ngModel)]="user.lastName" type="text" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="Enter last name" required />
            </div>
            <div>
              <input name="emailAddress" [(ngModel)]="user.emailAddress" type="email" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="Enter email" required />
            </div>
            <div>
              <input name="phoneNumber" [(ngModel)]="user.phoneNumber" type="text" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="12 213 214" required />
            </div>
            <div>
              <input name="password" [(ngModel)]="user.password" type="password" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="Enter password" required (input)="checkPasswordsMatch()" />
            </div>
            <div>
              <input name="confirmPassword" [(ngModel)]="user.confirmPassword" type="password" 
                    [ngClass]="{'border-red-500': !passwordsMatch}"  
                    class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="Confirm password" required (input)="checkPasswordsMatch()" />
              </div>

            <div>
              <input name="date" [(ngModel)]="user.date" type="date" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" required />
            </div>
            <div>
              <input name="address" [(ngModel)]="user.address" type="text" class="bg-white w-full text-sm px-4 py-3.5 rounded-md" placeholder="Enter your address" required />
            </div>
            <div>
              <input class="form-control"  type="file"  (change)="onFileChanged($event)">
            </div>
          </div>
          <div class="!mt-10 grid grid-cols-3 gap-4">
            <div></div>
            <button type="submit" class="place-self-auto min-w-[150px] py-3 px-4 text-sm font-semibold rounded text-white bg-green-800 hover:bg-green-600 focus:outline-none">Sign Up</button>
            <div></div>
          </div>
        </form>
      </div>
    </div>

    <!-- Right side: Image container -->
    <div class="w-full sm:w-2/3 relative">
      <img src="./../assets/3.jpeg" class="w-full h-full object-cover absolute" alt="" />
    </div>
  </div>
</body>
