<app-navbar></app-navbar>

<body class="mt-0">
  <div class="bg-green-900 text-white "></div>
  <div class="flex min-h-screen">
    <!-- Left side: Form container -->
    <div
      class="w-full sm:w-1/3 bg-green-100 flex flex-col justify-center items-center py-8"
    >
      <form class="w-4/5">
        <div class="text-center mb-10">
          <h2 class="text-4xl font-bold mb-6 text-green-900 -mt-20">Sign In</h2>
        </div>
        <div class="flex flex-col gap-4">
          <div>
            <label class="text-sm mb-2 block" for="email">Email</label>
            <input
              name="email"
              type="email"
              id="email"
              class="bg-white w-full text-sm px-4 py-3.5 rounded-md outline-green-500"
              placeholder="Enter email"
              required
            />
          </div>
          <div>
            <label class="text-sm mb-2 block" for="password"
              >Mot de passe</label
            >
            <input
              name="password"
              type="password"
              id="password"
              class="bg-white w-full text-sm px-4 py-3.5 rounded-md outline-green-500"
              placeholder="Enter password"
              required
            />
          </div>
          <a
            class="text-sm text-end font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Forgot password?</a
          >
          <div class="!mt-10 grid grid-cols-3 gap-4 mb-5">
            <div></div>
            <button
              type="submit"
              class="min-w-[150px] py-3 px-4 text-sm font-semibold rounded text-white bg-green-800 hover:bg-green-600 focus:outline-none"
            >
              Sign in
            </button>
            <div></div>
          </div>
        </div>
      </form>
    </div>

    <!-- Right side: Image container -->
    <div class="w-full sm:w-2/3 relative">
      <header
        class="w-full h-full object-cover absolute top-0 left-0"
        style="background-image: url('../../assets/home_page.jpg')"
      >
        <div
          class="flex flex-col items-center justify-center mt-36 text-white"
        >
          <h1 class="text-6xl font-bold">FarmFinder</h1>
          <p class="mt-4 bg-yellow-400 px-8 py-2 rounded-3xl text-2xl">
            Des offres agricoles en un clic
          </p>
          <img src="../../assets/logo.png" class="h-22" alt="farmfinder Logo" />
        </div>
      </header>
      <!-- <img src="../../assets/home_page.jpg" alt="" class="w-full h-full object-cover absolute top-0 left-0" /> -->
    </div>
  </div>
</body>
