<div class="max-w-screen-xl mb-20">
  <nav
    class="bg-white shadow-2xl light:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 light:border-gray-600"
  >
    <div class="flex items-center justify-between w-full p-4">
      <img
        src="../../assets/logo.png"
        class="h-14 z-30"
        alt="farmfinder Logo"
      />
      <!-- <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <img src="../assets/phone.png" class="pl-10" alt="" />
          <div class="pl-3">
            <p class="text-amber-400 font-bold">Appelez-nous</p>
            <p>(+255) 24 145 421</p>
          </div>
        </div> -->

      <!-- <div v-if="user" class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse pr-10">

          <div class="flex items-center gap-4">
            <img class="w-10 h-10 rounded-full" :src="sdcd" alt="photo">
            <div class="font-medium dark:text-dark">
              <div>mohamed wessim</div>
              <button  class="text-sm text-gray-500 dark:text-gray-400">sign out</button>
            </div>
            

          </div>
        </div> -->

      <div
        class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
        v-else
      >
        <button
        [routerLink]="['/sign-in']"
          type="button"
          class="font-playfair transition ease-in-out delay-150 text-black font-bold mr-3 hover:-translate-y-1 hover:scale-110 duration-300 ..."
        >
          sign in
        </button>

        <button
          type="button"
          [routerLink]="['/sign-up']"
          class="text-white font-playfair font-dmserif font-bold transition ease-in-out delay-150 bg-amber-300 hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-amber-400 rounded-lg text-sm px-4 py-2 text-center light:bg-amber-500 light:focus:ring-amber-500 hover:-translate-y-1 hover:scale-110 light:hover:bg-amber-500 duration-300 ..."
        >
        sign up
        </button>
        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 light:text-gray-400 light:hover:bg-gray-700 light:focus:ring-gray-600"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <h1 class="font-playfair font-bold text-4xl md:text-6xl lg:text-3xl text-black -mr-4">Farm  Finder</h1>

      <!--<div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 -mr-10"
        id="navbar-sticky"
      >
      <ul
          class="flex text-2xl flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-6 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white light:bg-gray-800 md:light:bg-gray-900 light:border-gray-700"
        >
          <li>
            <a href="">Achat / Vante </a>
          </li>
          <li class="text-gray-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              class="w-6 h-10"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </li>

          <li>
            <a href="">ProduitsAgri</a>
          </li>
          <li class="text-gray-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              class="w-6 h-10"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </li>
          <li>
            <a href="">Terrains</a>
          </li>
        </ul>
      </div>-->
    </div>
  </nav>
</div>
