<app-navbar></app-navbar>

<div class="container mx-auto px-4 mt-6"> <!-- Augmentation du mt ici pour donner plus d'espace -->

  <!-- Titre principal -->
  <h1 class="text-2xl font-bold text-gray-800 mb-6">
    Annonces des fermes à vendre en Tunisie
  </h1>

  <div class="flex flex-wrap gap-8">
    <!-- Section des annonces -->
    <div class="flex-1 ml-8">
      <div class="space-y-6">
        <div *ngFor="let annonce of annonces" class="bg-white shadow rounded-lg flex flex-col md:flex-row">
          <!-- Image de l'annonce avec surface -->
          <div class="relative w-full md:w-40 h-auto">
            <img
              [src]="annonce.image"
              alt="Image annonce"
              class="w-full h-full object-cover rounded-t-lg md:rounded-l-lg"
            />
           
            <div class="absolute bottom-0 left-0 w-full bg-gray-800 bg-opacity-50 text-white text-center py-1">
              <p class="text-lg font-bold">{{ annonce.surface }} m²</p>
            </div>
          </div>


          <div class="p-4 flex-1">
            <h2 class="text-lg font-semibold text-gray-800">
              {{ annonce.titre }}
            </h2>
            <p class="text-sm text-gray-500 mb-2">{{ annonce.location }}</p>
            <p class="text-green-600 font-bold text-lg">{{ annonce.prix }}</p>
            <p class="text-sm text-gray-600 mt-2">
              {{ annonce.description }}
            </p>
            <button
              class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
            >
              je participe
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
