<app-navbar></app-navbar>
<section>

  <div class="nav mt-5">
    <img class="profile_photo" [src]="this.user.photo" alt="">
    <p class="text-white font-bold -mt-5">{{this.user.name}} {{this.user.lastName}} </p>
  
  <div class="profile cursor-pointer"  [routerLink]="['/dashboard']"><img width="25" height="25"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACbElEQVR4nO2Yv4vUQBTHRz1UVARB4RBFkANLERERRPAqwc7GwlL0T3Ab7a7wX1CwEUEbrbRQUDkVRYsTCzsRRddlZd1932+S9bcjw73cxbu9S7Imu1luPvBgITPvfb+ZN5NkjfGk0263dwF4COC++21GkSAIjgJokrQaLRE5ZkYFa+0qkucB/FIDtzUsgN8kL7gxpsq0Wq3NAG6q6D8ALlprV6u5WsLcHRHZYqpIGIZ7Sb5RoV96tdGCdnsvIgdMlRCRUyRDXYkZEdm91Nhut7uT5HMd+5Xk6fga5/fTP1G6AWvtmGufRNGr9Xp9Q4Z56wBcjucBuGStXTsUI1EU7SD5TIV8I3kmbw43R+faOBcTwks3QvIIgIaa+ADgYL+5Op3OPpJve60AyzKip885AD+1yF2SW/83r8uhuaxGTWsVb6TH0TplrV1TVH6XC8CUy601bhVuBMAeAK81MUieKCz54lrHSbYL3+xBEJwkGehdeiUiE6ZkRGTC1YqNOA1FHq3XGo3GxkIVL19/PckrC4/oXElIbnNvrJrAbexaaYrTtZwF8F21PI6iaHvWiYcBfNKJHwEcMkNGRPaTfKeaPgdBMJnF/Q+dMB2G4bipCJw9ou8lu2TRW3Sz2dwE4HrypHB7xFQMa+1YUiOAG0773ACSLxJH62Be1PqE80ZirU/nLgJ4AuCle16MihHMPttmADxYdqCpKMyqzxsZEPQrstJWhEt8pqaFN5JG6XdqUHXojdCvSB7oWysjfrPnhL61MuJbKyf0rZUR31o5oW+tjPjWyglXbGux4mHScH/dD1skUwLAo7wr6fGY/vgLlfEyOn6DEe0AAAAASUVORK5CYII="
        alt="home--v1"><span>Dashboard</span></div>
    <div class="profile cursor-pointer"   [routerLink]="['/tableusers']"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
        class="bi bi-people" viewBox="0 0 16 16">
        <path
          d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
      </svg><span>Users</span></div>
  
    <div class="profile cursor-pointer" [routerLink]="['/events-admin']"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
        class="bi bi-calendar-event" viewBox="0 0 16 16">
        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
        <path
          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
      </svg><span>Events</span></div>
    <div class="profile cursor-pointer"  [routerLink]="['/ReclamationDashboard']"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
        class="bi bi-exclamation-square" viewBox="0 0 16 16">
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
        <path
          d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
      </svg><span>Complaints</span></div>

      <div class="py-4 border-t border-lime-700">
        <button
          class="w-full flex  gap-2 text-white hover:text-yellow-600 transition"
        >
          <i class="fas fa-sign-out-alt text-xl"></i>
          <span>                  Logout              </span>
    
        </button>
      </div>
  </div>


  <div class="container mx-auto px-6 py-8 mt-10">
    <div class="search-bar mb-6">
      <div class="relative max-w-lg mx-auto">
        <input type="text" placeholder="Rechercher..."
          class="w-full py-3 px-4 pl-12 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-300 text-sm text-gray-700 placeholder-gray-500 shadow-md" />
        <i class="fas fa-search absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
      </div>
    </div>

    <!-- Grid of Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full">
      <div *ngFor="let annonce of events"
        class="bg-white shadow-xl w-full max-w-[260px] rounded-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out">
        <div class="relative">
          <!-- Image with fixed height -->
          <img [src]="annonce.photo" alt="Image annonce"
            class="w-full h-[180px] object-cover rounded-t-lg transition-transform duration-500 transform hover:scale-110" />
          <div class="absolute bottom-0 left-0 bg-black bg-opacity-60 text-white text-sm px-4 py-2 rounded-tl-lg">
            {{ annonce.title }} m²
          </div>
        </div>
        <div class="p-4">
          <h2 class="text-lg font-semibold text-gray-800 truncate">{{ annonce.title }}</h2>
          <p class="text-sm text-gray-500">{{ annonce.price }}</p>
          <p class="text-sm text-gray-600 truncate">{{ annonce.description }}</p>
          <button
          [routerLink]="['/event_details', annonce.id]"
            class="mt-4 w-full sm:w-36 bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 transition duration-200 shadow-md flex items-center justify-center space-x-2">
            <i class="fas fa-plus"></i>
            <span>Voir plus</span>
          </button>
        </div>
      </div>
    </div>
  </div>



</section>
